html {
    font-size: 20px;
}

body {
    background-color: beige;
    color: cadetblue;
    margin-left: 200px;
}

.navbar {
    position: absolute;
    top:80px;
    left: 20px;
    width: 150px;
    padding: 0px;
}

.navbar li {
    list-style-type: none;
    border-right: 10px solid #ffaafb
    ;
}

.navbar a {
    text-decoration: none;
    color: cadetblue;
}

.address {
    border-top: thin dotted red;
    margin-top: 20px;
    padding-top: 10px;
}